{{page-title "Accessibility base"}}

<header>
    <p>(header content goes here)</p>
</header>

<main id="main">
    {{outlet}}
    <p>(main element here; reminder to keep all content contained within landmark regions.)</p>
</main>

<footer>
    <p>(footer content goes here)</p>
</footer>
